/* The HTML element itself has the class "myclass", so these styles apply
   to the overall element that contains everything else. */
.myclass {
	font-family: system-ui;		/* use the same font as the system */
	border: 1px solid black;	/* display a black border */
	padding: 0em 1em;			/* add some padding */
}

/* Remove the top margin from the main header so it appears nearer the top */
h1 {
	margin-top: 0;
}

/* The demo link does not have an 'href' attribute, so by default does not
   get styled like a link. So add some link styles with CSS. */
.demolink {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.demolink:hover {
	color: #37f;
}

.demolink:active {
	color: red;
}

/* Styles for the rotating paragraph */
.paragraph2 {
	
	margin: 1.5em 0em;
	
	/* Use the "wobble" animation defined below to rotate it back and forth */
	animation: 1s ease-in-out wobble infinite alternate;
	
	/* To make it rotate about its center, display it as an inline-block so
	   it doesn't use the full width, and put the transform origin in the middle. */
	display: inline-block;
	transform-origin: 50% 50%;
	
	/* Some extra decorative styles. */
	border: 2px solid #aaa;
	background-color: #eee;
	padding: 0.3em;
	border-radius: 1em;
}

/* This defines keyframes for a CSS animation that makes something rotate
   back and forth from -5 degrees to +5 degrees. */
@keyframes wobble {
	from {
		transform: rotate(-5deg);
	}
	to {
		transform: rotate(5deg);
	}
}

/* Make sure the button uses em sizing, so it scales with the window. */
.demobutton {
	font-size: 1em;
}

/* Show the button/link status in bold. */
.buttonclickresult,
.linkclickresult {
	font-weight: bold;
}